<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <meta name="description" content="Sankaku Content Grabber">
    <meta property="og:title" content="Sankaku Viewer">
    {{ if .URL }}
        <meta property="og:url" content="{{ .Loc }}get?id={{ .ID }}">
        <meta property="og:type" content="{{ .Type }}">
        <meta property="og:description" content="{{ .Title }} ({{ .Type }})">
        <meta property="og:image:alt" content="{{ .Size }} bytes">
        {{ if eq .Type "image" }}
            <meta property="og:image" content="{{ .Loc }}redir{{ .Ext }}?id={{ .ID }}&type=url">
            <meta property="og:image:type" content="{{ .Format }}">
            <meta property="og:image:width" content="{{ .Width }}">
            <meta property="og:image:height" content="{{ .Height }}">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:title" content="Sankaku Viewer">
            <meta name="twitter:site" content="@sankakucomplex">
            {{ if le .Size 5242880 }}
                <meta name="twitter:description" content="{{ .Title }} (image)">
                <meta name="twitter:image" content="{{ .Loc }}redir{{ .Ext }}?id={{ .ID }}&type=url">
            {{ else }}
                <meta name="twitter:description" content="{{ .Title }} (compressed image)">
                <meta name="twitter:image" content="{{ .Loc }}redir{{ .Ext }}?id={{ .ID }}&type=surl">
            {{ end }}
            <meta name="twitter:image:alt" content="{{ .Size }} bytes">
        {{ else if eq .Type "video" }}
            <meta property="og:image" content="{{ .Loc }}redir.jpg?id={{ .ID }}&type=purl">
            <meta property="og:video" content="{{ .Loc }}redir{{ .Ext }}?id={{ .ID }}&type=url">
            <meta property="og:video:type" content="{{ .Format }}">
            <meta property="og:video:width" content="{{ .Width }}">
            <meta property="og:video:height" content="{{ .Height }}">
            <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
            <script src="player.js"></script>
        {{ end }}
        <title>{{ .Title }}</title>
    {{ else }}
        <meta property="og:url" content="{{ .Loc }}">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Sankaku Content Grabber">
        <meta property="og:image:alt" content="27522 bytes">
        <meta property="og:image" content="{{ .Loc }}logo.png">
        <title>Sankaku Viewer</title>
    {{ end }}
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Sankaku Viewer</h2>
    <form action="get" method="get" id="form-id">
        <label for="inputURL">Sankaku URL:</label>
        <input type="text" id="inputURL" placeholder="https://sankaku.app/posts/aBcD1234">
        <input type="hidden" id="inputID" name="id">
        <input type="submit" value="GET">
    </form>
    {{ if .Error }}
        <p>{{ .Error }}</p>
    {{ else if .URL }}
        <a href="{{ .URL }}" style="padding-bottom: 1%;" download><b>download</b></a>
        {{ if eq .Type "image" }}
            <div class="container image-container">
                <img src="{{ .URL }}" alt="{{ .Format }}">
            </div>
        {{ else if eq .Type "video" }}
            <div class="container video-container">
                <video id="video-id">
                    <source src="{{ .URL }}" type="{{ .Format }}"/>
                </video>
            </div>
        {{ end }}
        <a href="{{ .Ori }}" target="_blank"><b>source</b></a>
    {{ end }}
    <script src="script.js"></script>
</body>
</html>
